<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">





    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    <script src="https://kit.fontawesome.com/6d8694366f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
   
    

    <link href="../assets/style.css" rel="stylesheet" type="text/css">


    <title>V <sup>2</sup> S <sup>2</sup></title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">

        <div class="container-fluid" id="Main">

          <a class="navbar-brand" href="#">V <sup>2</sup> S <sup>2</sup> &nbsp; Phototgraphers</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarScroll">
            
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#info">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="./engage.html">Engagement</a></li>
                  <li><a class="dropdown-item" href="./prewed.html">Pre-Wedding</a></li>
                  <li><a class="dropdown-item" href="./wed.html">Wedding</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" >Short Films</a></li>
                  <li><a class="dropdown-item" >Advertisement</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contactUs/contactus.html">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin.html">Admin Login</a>
              </li>
            </ul>
        
          </div>
        </div>
    </nav>
    
      <section class="landing-header">
        <div class="landing-box">
          <h1>
            V<sup>2</sup> S<sup>2</sup> Photography
          </h1>
          <h6>
            7709346967 / 8177804889
          </h6>
          <h6>
            V2S2@gmail.com 
          </h6>
          <h6>
            Hingna T-Point, Hingna Road, Nagpur, Maharashtra- 440016
          </h6>

        </div>
  
      </section>

      <hr>

      <section class=".grid1">
          <div class="container-fluid" >
              <div class="row">
                <div class="col-lg-5" id="info">
                  <h1>About Us</h1>
                  <h4>Welcome to V<sup>2</sup>S<sup>2</sup> Photography! </h4>
                  <h6>At VR Photography, we are committed to etching the most unforgettable moments of your life in your 
                    memory and on film. Our expertise lies in Candid Photography and Cinematography, with a focus on 
                    capturing the true essence of your special occasions. 
                    </h6>
                    <h6>
                      Recognizing the individuality of every couple, we put our efforts into portraying your unique qualities 
                      to the world. Our approach is crystal clear: "CAPTURING THE EMOTION, NOT JUST THE APPEARANCE!" 
                    </h6>
                    <h6>
                      Join us at VR Photography, where we endeavor to bring your stories to life through our lens, ensuring 
                      that your precious moments are documented in a sincere and significant manner.
                    </h6>
                </div>
                <div class="col-lg-7">
                  <img src="https://source.unsplash.com/500x500/?indian-wedding-couple">
                </div>
              </div>
          </div>
      </section>

      <hr>


      <section class=".grid1">
        <div class="container-fluid" >
          <div class="row">

              <div class="col-lg-7">
                <img src="https://source.unsplash.com/500x500/?indian-wedding">
              </div>
                
              <div class="col-lg-5" id="info">
                <h1>Gallery</h1>
                <h6>At VR Photography, we are committed to etching the most unforgettable moments of your life in your 
                  memory and on film. Our expertise lies in Candid Photography and Cinematography, with a focus on 
                  capturing the true essence of your special occasions. 
                  </h6>
                  <h6>
                    Recognizing the individuality of every couple, we put our efforts into portraying your unique qualities 
                    to the world. Our approach is crystal clear: "CAPTURING THE EMOTION, NOT JUST THE APPEARANCE!" 
                  </h6>
                  <h6>
                    Join us at VR Photography, where we endeavor to bring your stories to life through our lens, ensuring 
                    that your precious moments are documented in a sincere and significant manner.
                  </h6>
              </div>
            </div>
        </div>
    </section>

    <hr>

    <section class=".grid1">
      <div class="container-fluid" >
          <div class="row">
            <div class="col-lg-5" id="info">
              <h1>Testimonials</h1>
              <h6>The VR Photography team was extremely professional, and we're delighted that we chose them for our special day. Right from the beginning, they ensured they understood the theme, decorations, and outfits for the events, offering us some great ideas too! They were punctual for all the events and actively assisted us with posing for pictures. The photographs turned out stunning, and they even provided the raw pictures within a week of the event. The video moments were captured exceptionally well, and I found myself repeatedly watching our videos. I highly recommend VR Photography! 􏰀􏰁􏰂􏰃􏰄 
                </h6>
            </div>
            <div class="col-lg-7">
              <img src="https://source.unsplash.com/500x500/?pre-wedding">
            </div>
          </div>
      </div>
    </section>

  <hr>
<!-- *****************FOOTER*************** -->
      <section class="footer">
        <div class="Add">
          <h6>
            Building no.1, Lumbini Nagar,
          </h6>
          <h6>
            Hingna T-Point, Hingna Road.
          </h6>
          <h6>
            Nagpur, Maharashtra- 440016.
          </h6>

          <h4>
            <br>
            © 2023 V <sup>2</sup> S <sup>2</sup>  </h5>
          </h4>

        </div>

        <div class="copyright">
          
          <h4>
              © 2023 V <sup>2</sup> S <sup>2</sup>  </h5>
          </h4>
          <br>
          <h3>
            <div>
              <a class="fa-brands fa-twitter"></a> &nbsp;
              <a class="fa-brands fa-facebook"></a> &nbsp;
              <a class="fa-brands fa-instagram"></a> &nbsp;
              <a class="fa-brands fa-linkedin"></a> &nbsp;
            </div>
          </h3>
        </div>

        <div class="Social-contact">
          <h6>
            Phone: 7709346967 / 8177804889 
          </h6>
          <h6>
            Email: V2S2@gmail.com  
          </h6>

          <h5>
            <br>
            <div>
              <a class="fa-brands fa-twitter"></a> &nbsp;
              <a class="fa-brands fa-facebook"></a> &nbsp;
              <a class="fa-brands fa-instagram"></a> &nbsp;
              <a class="fa-brands fa-linkedin"></a> &nbsp;
            </div>
          </h6>
        </div>

      </section>



</body>
</html>